In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.preprocessing import StandardScaler
import joblib
import seaborn as sns

In [2]:
# Data source acknowledgement https://www.kaggle.com/datasets/syedanwarafridi/vehicle-sales-data/data
# The key data attributes are The "Vehicle Sales and Market Trends Dataset" provides a comprehensive 
# collection of information pertaining to the sales transactions of various vehicles. This dataset 
# encompasses details such as the year, make, model, trim, body type, transmission type, VIN 
# (Vehicle Identification Number), state of registration, condition rating, odometer reading, exterior 
# and interior colors, seller information, Manheim Market Report (MMR) values, selling prices, and sale dates.

df = pd.read_csv('Resources/car_prices.csv')
df.head(5)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [4]:
# Extract list of column headers
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [5]:
# Look for null values
print(df.isnull().sum())

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [6]:
df['year'].unique()

array([2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005,
       2004, 2003, 2002, 2001, 2000, 1999, 1998, 1995, 1996, 1997, 1987,
       1994, 1993, 1992, 1989, 1991, 1990, 1986, 1985, 1988, 1984, 1982,
       1983], dtype=int64)

In [7]:
df = df.dropna(subset=['make','mmr', 'odometer','condition','model']).reset_index(drop=True)

In [8]:
replacement_make_dict = {
    'lincoln': 'Lincoln',
    'bmw': 'BMW',
    'pontiac': 'Pontiac',
    'suzuki': 'Suzuki',
    'kia': 'Kia',
    'ford': 'Ford',
    'mitsubishi': 'Mitsubishi',
    'smart': 'Smart',
    'chevrolet': 'Chevrolet',
    'chrysler': 'Chrysler',
    'landrover': 'Landrover',
    'cadillac': 'Cadillac',
    'land rover': 'Landrover',
    'mercedes': 'Mercedes',
    'mazda': 'Mazda',
    'toyota': 'Toyota',
    'lexus': 'Lexus',
    'honda': 'Honda',
    'nissan': 'Nissan',
    'porsche': 'Porsche',
    'dodge': 'Dodge',
    'subaru': 'Subaru',
    'oldsmobile': 'Oldsmobile',
    'hyundai': 'Hyundai',
    'jeep': 'Jeep',
    'acura': 'Acura',
    'volkswagen': 'Volkswagen',
    'audi': 'Audi',
    'gmc': 'GMC',
    'maserati':  'Maserati',
    'mercury': 'Mercury',
    'buick': 'Buick',
    'vw': 'Volkswagen',
    'plymouth': 'Plymouth',
    'dodge tk': 'Dodge',
    'mazda tk': 'Mazda',
    'hyundai tk': 'Hyundai',
    'mercedes-b': 'Mercedes',
    'chev truck': 'Chevrolet',
    'ford tk': 'Ford',
    'ford truck': 'Ford',
    'airstream': 'Airstream',
    'dot':'Dodge',
    'gmc truck': 'GMC'
    
    # Add more replacements as needed
}

df['make'] = df['make'].replace(replacement_make_dict)

In [9]:
replacement_body_dict = {
    'Beetle Convertible': 'Convertible',
    'CTS Coupe': 'Coupe',
    'CTS Wagon': 'Wagon',
    'CTS-V Coupe': 'Coupe',
    'CTS-V Wagon': 'Wagon',
    'E-Series Van': 'Van',
    'Elantra Coupe': 'Coupe',
    'G Convertible': 'Convertible',
    'G Coupe': 'Coupe',
    'G Sedan': 'Sedan',
    'G37 Convertible': 'Convertible',
    'G37 Coupe': 'Coupe',
    'Genesis Coupe': 'Coupe',
    'GranTurismo Convertible': 'Convertible',
    'Koup': 'Coupe',
    'Promaster Cargo Van': 'Van',
    'Q60 Convertible': 'Convertible',
    'Q60 Coupe': 'Coupe',
    'TSX Sport Wagon': 'Wagon',
    'Transit Van' : 'Van',
    'beetle convertible': 'Convertible',
    'convertible': 'Convertible',
    'coupe': 'Coupe',
    'cts coupe': 'Coupe',
    'cts wagon': 'Wagon',
    'cts-v coupe': 'Coupe',
    'e-series van': 'Van',
    'elantra coupe': 'Coupe',
    'g convertible': 'Convertible',
    'g coupe': 'Coupe',
    'g sedan': 'Sedan',
    'g37 convertible': 'Convertible',
    'g37 coupe': 'Coupe',
    'genesis coupe': 'Coupe',
    'granturismo convertible':'Convertible',
    'minivan': 'Minivan',
    'promaster cargo van': 'Van',
    'q60 convertible': 'Convertible',
    'q60 coupe': 'Coupe',
    'sedan': 'Sedan',
    'suv': 'SUV',
    'transit van': 'Van',
    'tsx sport wagon': 'Wagon',
    'van': 'Van',
    'wagon': 'Wagon',
    'koup': 'Coupe',
    'Ram Van': 'Van',
    'hatchback': 'Hatchback',
    'Double Cab': 'Crew_Truck',
    'CrewMax Cab': 'Crew_Truck',
    'Access Cab': 'Ext_Truck',
    'King Cab': 'Crew_Truck',
    'SuperCrew': 'Crew_Truck',
    'Extended Cab': 'Ext_Truck',
    'SuperCab': 'Crew_Truck',
    'Regular Cab': 'Truck',
    'Quad Cab': 'Crew_Truck',
    'Club Cab': 'Crew_Truck',
    'Xtracab': 'Ext_Truck',
    'Mega Cab': 'Crew_Truck',
    'Cab Plus 4': 'Ext_Truck',
    'Cab Plus': 'Ext_Truck',
    'regular-cab': 'Truck',
    'king cab': 'Crew_Truck',
    'supercrew': 'Crew_Truck',
    'crew cab': 'Crew_Truck',
    'double cab': 'Crew_Truck',
    'regular cab': 'Truck',
    'quad cab': 'Crew_Truck',
    'supercab': 'Ext_Truck',
    'extended cab': 'Ext_Truck',
    'crewmax cab': 'Crew_Truck',
    'access cab': 'Ext_Truck',
    'mega cab': 'Crew_Truck',
    'xtracab': 'Ext_Truck',
    'club cab': 'Crew_Truck',
    'cab plus 4': 'Ext_Truck',
    'Crew Cab': 'Crew_Truck', 
    }

df['body'] = df['body'].replace(replacement_body_dict)

In [10]:
df['body'].unique()

array(['SUV', 'Sedan', 'Convertible', 'Coupe', 'Wagon', 'Hatchback',
       'Crew_Truck', 'Minivan', nan, 'Van', 'Ext_Truck', 'Truck'],
      dtype=object)

In [11]:
df = df.dropna(subset=['body']).reset_index(drop=True)

In [12]:
# Filter out rows where 'transmission' is 'sedan' (case-insensitive) and drop NaN values in 'transmission'
df = df[df['transmission'].notna() & (df['transmission'].str.lower() != 'sedan')]

In [13]:
df = df[(df['color'].notna()) & (df['color'] != '—')]

In [14]:
df['color'] = df['color'].replace({'off-white': 'cream'})

In [15]:
unique_interior = df['interior'].unique()
print(unique_interior)

['black' 'beige' 'tan' 'brown' '—' 'gray' 'burgundy' 'white' 'silver'
 'off-white' 'red' 'yellow' 'green' 'purple' 'blue' 'orange' 'gold']

In [16]:
df['interior'] = df['interior'].replace({'off-white': 'cream'})

In [17]:
df = df[(df['interior'].notna()) & (df['interior'] != '—')]

In [18]:
# Look for null values
print(df.isnull().sum())

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [19]:
df.reset_index(drop=True, inplace=True)

In [20]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [21]:
df = df.drop(['vin', 'saledate', 'condition', 'seller', 'trim', 'model', 'state' ], axis=1)

In [22]:
import pandas as pd

# Assuming df is your original DataFrame
# Generate dummy variables for the 'transmission' column
df_transmission = pd.get_dummies(df['transmission'], prefix='transmission')

# Concatenate the original DataFrame with the new dummy variables DataFrame
df = pd.concat([df, df_transmission], axis=1).drop(columns=['transmission_manual'])

# Display the first 5 rows of the updated DataFrame
df.head(5)

,year,make,body,transmission,odometer,color,interior,mmr,sellingprice,transmission_automatic
0,2015,Kia,SUV,automatic,16639.0,white,black,20500.0,21500.0,True
1,2015,Kia,SUV,automatic,9393.0,white,beige,20800.0,21500.0,True
2,2014,BMW,Sedan,automatic,1331.0,gray,black,31900.0,30000.0,True
3,2015,Volvo,Sedan,automatic,14282.0,white,black,27500.0,27750.0,True
4,2014,BMW,Sedan,automatic,2641.0,gray,black,66000.0,67000.0,True

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440393 entries, 0 to 440392
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   year                    440393 non-null  int64
 1   make                    440393 non-null  object
 2   body                    440393 non-null  object
 3   transmission            440393 non-null  object
 4   odometer                440393 non-null  float64
 5   color                   440393 non-null  object
 6   interior                440393 non-null  object
 7   mmr                     440393 non-null  float64
 8   sellingprice            440393 non-null  float64
 9   transmission_automatic  440393 non-null  bool
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 30.7+ MB

In [24]:
# Look for null values
print(df.isnull().sum())

year                      0
make                      0
body                      0
transmission              0
odometer                  0
color                     0
interior                  0
mmr                       0
sellingprice              0
transmission_automatic    0
dtype: int64

In [25]:
# Use Pandas .astype("category").cat.codes for single column category encoding
columns_to_encode = ["body",
                     "color",
                     "interior"]

# Loop through columns_to_encode and convert the columns to category codes
for column in columns_to_encode:
    df[column] = df[column].astype("category").cat.codes

df.head()

,year,make,body,transmission,odometer,color,interior,mmr,sellingprice,transmission_automatic
0,2015,Kia,6,automatic,16639.0,17,1,20500.0,21500.0,True
1,2015,Kia,6,automatic,9393.0,17,0,20800.0,21500.0,True
2,2014,BMW,7,automatic,1331.0,8,1,31900.0,30000.0,True
3,2015,Volvo,7,automatic,14282.0,17,1,27500.0,27750.0,True
4,2014,BMW,7,automatic,2641.0,8,1,66000.0,67000.0,True

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440393 entries, 0 to 440392
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   year                    440393 non-null  int64
 1   make                    440393 non-null  object
 2   body                    440393 non-null  int8
 3   transmission            440393 non-null  object
 4   odometer                440393 non-null  float64
 5   color                   440393 non-null  int8
 6   interior                440393 non-null  int8
 7   mmr                     440393 non-null  float64
 8   sellingprice            440393 non-null  float64
 9   transmission_automatic  440393 non-null  bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 21.8+ MB

In [27]:
# Group by the 'make' column
grouped = df.groupby('make')

# Initialize an empty dictionary to store the dataframes
dfs = {}

# Loop through the groups
for make, group_df in grouped:
    # Assign the group dataframe to the corresponding make key
    dfs[make] = group_df

In [30]:
# # Assuming `dfs` is your dictionary of DataFrames, grouped by 'make'
# columns = ['odometer', 'mmr']  # Columns to clean and scale

# for make, df in dfs.items():
#     # Step 1: Remove outliers
#     z_scores = np.abs(stats.zscore(df[columns], nan_policy='omit'))
#     threshold = 3
#     without_outliers = (z_scores < threshold).all(axis=1)
#     df_clean = df[without_outliers]

#     # Step 2: Scale the 'odometer' and 'mmr' columns
#     scaler = StandardScaler()
#     df_clean_scaled = df_clean.copy()
#     df_clean_scaled[columns] = scaler.fit_transform(df_clean[columns])

#     # Step 3: Write the cleaned and scaled DataFrame to a CSV file
#     # Customize the file path and name as needed
#     file_name = f'Resources/{make}_model_car_prices.csv'
#     df.to_csv(file_name, index=False)

#     print(f'Processed and saved: {file_name}')


# # Assuming `dfs` is your dictionary of DataFrames, grouped by 'make'
# columns = ['odometer', 'mmr']  # Columns to clean and scale

# for make, df in dfs.items():
#     print(f"Processing make: {make}")

#     # Remove outliers
#     z_scores = np.abs(stats.zscore(df[columns], nan_policy='omit'))
#     threshold = 3
#     without_outliers = (z_scores < threshold).all(axis=1)
#     df_clean = df[without_outliers]

#     # Scale the 'odometer' and 'mmr' columns
#     scaler = StandardScaler()
#     df_clean_scaled = df_clean.copy()
#     df_clean_scaled[columns] = scaler.fit_transform(df_clean[columns])

#     # Output the .info() of the cleaned and scaled DataFrame
#     print(f"Info for {make}:")
#     df_clean_scaled.info()

#     # Optionally, write the DataFrame to a CSV file
#     # Customize the file path and name as needed
#     file_name = f'Resources/{make}_model_car_prices.csv'
#     df_clean_scaled.to_csv(file_name, index=False)

#     print(f'Processed and saved: {file_name}\n\n')

from scipy import stats
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
import os

# Assuming `dfs` is your dictionary of DataFrames, grouped by 'make'
columns = ['odometer', 'mmr']  # Columns to clean and scale

# Initialize a dictionary to hold the make and file size
file_sizes = {}

for make, df in dfs.items():
    print(f"Processing make: {make}")

    # Remove outliers
    z_scores = np.abs(stats.zscore(df[columns], nan_policy='omit'))
    threshold = 3
    without_outliers = (z_scores < threshold).all(axis=1)
    df_clean = df[without_outliers]

    # Scale the 'odometer' and 'mmr' columns
    scaler = StandardScaler()
    df_clean_scaled = df_clean.copy()
    df_clean_scaled[columns] = scaler.fit_transform(df_clean[columns])

    # Output the .info() of the cleaned and scaled DataFrame
    print(f"Info for {make}:")
    df_clean_scaled.info()

    # Write the DataFrame to a CSV file
    # Customize the file path and name as needed
    file_name = f'Resources/{make}_model_car_prices.csv'
    df_clean_scaled.to_csv(file_name, index=False)

    # Get the file size in bytes and convert it to kilobytes (1 KB = 1024 bytes)
    file_size_kb = os.path.getsize(file_name) / 1024
    file_sizes[make] = file_size_kb

    print(f'Processed and saved: {file_name}\n\n')

# After processing all makes, write the file sizes to a new CSV file
sizes_df = pd.DataFrame(list(file_sizes.items()), columns=['Make', 'FileSizeKB'])
sizes_file_name = 'Resources/make_file_sizes.csv'
sizes_df.to_csv(sizes_file_name, index=False)

print(f'File sizes written to: {sizes_file_name}')

Processing make: Acura
Info for Acura:
<class 'pandas.core.frame.DataFrame'>
Index: 4328 entries, 39 to 440266
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    4328 non-null   int64
 1   make                    4328 non-null   object
 2   body                    4328 non-null   int8
 3   transmission            4328 non-null   object
 4   odometer                4328 non-null   float64
 5   color                   4328 non-null   int8
 6   interior                4328 non-null   int8
 7   mmr                     4328 non-null   float64
 8   sellingprice            4328 non-null   float64
 9   transmission_automatic  4328 non-null   bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 253.6+ KB
Processed and saved: Resources/Acura_model_car_prices.csv


Processing make: Aston Martin
Info for Aston Martin:
<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, 47984 to 437051
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    22 non-null     int64
 1   make                    22 non-null     object
 2   body                    22 non-null     int8
 3   transmission            22 non-null     object
 4   odometer                22 non-null     float64
 5   color                   22 non-null     int8
 6   interior                22 non-null     int8
 7   mmr                     22 non-null     float64
 8   sellingprice            22 non-null     float64
 9   transmission_automatic  22 non-null     bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 1.3+ KB
Processed and saved: Resources/Aston Martin_model_car_prices.csv


Processing make: Audi
Info for Audi:
<class 'pandas.core.frame.DataFrame'>
Index: 4444 entries, 8 to 440383
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    4444 non-null   int64
 1   make                    4444 non-null   object
 2   body                    4444 non-null   int8
 3   transmission            4444 non-null   object
 4   odometer                4444 non-null   float64
 5   color                   4444 non-null   int8
 6   interior                4444 non-null   int8
 7   mmr                     4444 non-null   float64
 8   sellingprice            4444 non-null   float64
 9   transmission_automatic  4444 non-null   bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 260.4+ KB
Processed and saved: Resources/Audi_model_car_prices.csv


Processing make: BMW
Info for BMW:
<class 'pandas.core.frame.DataFrame'>
Index: 15740 entries, 2 to 440390
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    15740 non-null  int64
 1   make                    15740 non-null  object
 2   body                    15740 non-null  int8
 3   transmission            15740 non-null  object
 4   odometer                15740 non-null  float64
 5   color                   15740 non-null  int8
 6   interior                15740 non-null  int8
 7   mmr                     15740 non-null  float64
 8   sellingprice            15740 non-null  float64
 9   transmission_automatic  15740 non-null  bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 922.3+ KB
Processed and saved: Resources/BMW_model_car_prices.csv


Processing make: Bentley
Info for Bentley:
<class 'pandas.core.frame.DataFrame'>
Index: 102 entries, 2179 to 439702
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    102 non-null    int64
 1   make                    102 non-null    object
 2   body                    102 non-null    int8
 3   transmission            102 non-null    object
 4   odometer                102 non-null    float64
 5   color                   102 non-null    int8
 6   interior                102 non-null    int8
 7   mmr                     102 non-null    float64
 8   sellingprice            102 non-null    float64
 9   transmission_automatic  102 non-null    bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 6.0+ KB
Processed and saved: Resources/Bentley_model_car_prices.csv


Processing make: Buick
Info for Buick:
<class 'pandas.core.frame.DataFrame'>
Index: 4253 entries, 68 to 440348
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    4253 non-null   int64
 1   make                    4253 non-null   object
 2   body                    4253 non-null   int8
 3   transmission            4253 non-null   object
 4   odometer                4253 non-null   float64
 5   color                   4253 non-null   int8
 6   interior                4253 non-null   int8
 7   mmr                     4253 non-null   float64
 8   sellingprice            4253 non-null   float64
 9   transmission_automatic  4253 non-null   bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 249.2+ KB
Processed and saved: Resources/Buick_model_car_prices.csv


Processing make: Cadillac
Info for Cadillac:
<class 'pandas.core.frame.DataFrame'>
Index: 6070 entries, 33 to 440360
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    6070 non-null   int64
 1   make                    6070 non-null   object
 2   body                    6070 non-null   int8
 3   transmission            6070 non-null   object
 4   odometer                6070 non-null   float64
 5   color                   6070 non-null   int8
 6   interior                6070 non-null   int8
 7   mmr                     6070 non-null   float64
 8   sellingprice            6070 non-null   float64
 9   transmission_automatic  6070 non-null   bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 355.7+ KB
Processed and saved: Resources/Cadillac_model_car_prices.csv


Processing make: Chevrolet
Info for Chevrolet:
<class 'pandas.core.frame.DataFrame'>
Index: 50519 entries, 7 to 440382
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    50519 non-null  int64
 1   make                    50519 non-null  object
 2   body                    50519 non-null  int8
 3   transmission            50519 non-null  object
 4   odometer                50519 non-null  float64
 5   color                   50519 non-null  int8
 6   interior                50519 non-null  int8
 7   mmr                     50519 non-null  float64
 8   sellingprice            50519 non-null  float64
 9   transmission_automatic  50519 non-null  bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 2.9+ MB
Processed and saved: Resources/Chevrolet_model_car_prices.csv


Processing make: Chrysler
Info for Chrysler:
<class 'pandas.core.frame.DataFrame'>
Index: 14418 entries, 794 to 440374
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    14418 non-null  int64
 1   make                    14418 non-null  object
 2   body                    14418 non-null  int8
 3   transmission            14418 non-null  object
 4   odometer                14418 non-null  float64
 5   color                   14418 non-null  int8
 6   interior                14418 non-null  int8
 7   mmr                     14418 non-null  float64
 8   sellingprice            14418 non-null  float64
 9   transmission_automatic  14418 non-null  bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 844.8+ KB
Processed and saved: Resources/Chrysler_model_car_prices.csv


Processing make: Daewoo
Info for Daewoo:
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 111682 to 284953
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    2 non-null      int64
 1   make                    2 non-null      object
 2   body                    2 non-null      int8
 3   transmission            2 non-null      object
 4   odometer                2 non-null      float64
 5   color                   2 non-null      int8
 6   interior                2 non-null      int8
 7   mmr                     2 non-null      float64
 8   sellingprice            2 non-null      float64
 9   transmission_automatic  2 non-null      bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 120.0+ bytes

Processed and saved: Resources/Daewoo_model_car_prices.csv


Processing make: Dodge
Info for Dodge:
<class 'pandas.core.frame.DataFrame'>
Index: 25539 entries, 772 to 440387
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    25539 non-null  int64
 1   make                    25539 non-null  object
 2   body                    25539 non-null  int8
 3   transmission            25539 non-null  object
 4   odometer                25539 non-null  float64
 5   color                   25539 non-null  int8
 6   interior                25539 non-null  int8
 7   mmr                     25539 non-null  float64
 8   sellingprice            25539 non-null  float64
 9   transmission_automatic  25539 non-null  bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 1.5+ MB
Processed and saved: Resources/Dodge_model_car_prices.csv


Processing make: FIAT
Info for FIAT:
<class 'pandas.core.frame.DataFrame'>
Index: 666 entries, 792 to 440010
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    666 non-null    int64
 1   make                    666 non-null    object
 2   body                    666 non-null    int8
 3   transmission            666 non-null    object
 4   odometer                666 non-null    float64
 5   color                   666 non-null    int8
 6   interior                666 non-null    int8
 7   mmr                     666 non-null    float64
 8   sellingprice            666 non-null    float64
 9   transmission_automatic  666 non-null    bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 39.0+ KB
Processed and saved: Resources/FIAT_model_car_prices.csv


Processing make: Ferrari
Info for Ferrari:
<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 916 to 438477
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    15 non-null     int64
 1   make                    15 non-null     object
 2   body                    15 non-null     int8
 3   transmission            15 non-null     object
 4   odometer                15 non-null     float64
 5   color                   15 non-null     int8
 6   interior                15 non-null     int8
 7   mmr                     15 non-null     float64
 8   sellingprice            15 non-null     float64
 9   transmission_automatic  15 non-null     bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 900.0+ bytes
Processed and saved: Resources/Ferrari_model_car_prices.csv


Processing make: Fisker
Info for Fisker:
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 90537 to 438044
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    9 non-null      int64
 1   make                    9 non-null      object
 2   body                    9 non-null      int8
 3   transmission            9 non-null      object
 4   odometer                9 non-null      float64
 5   color                   9 non-null      int8
 6   interior                9 non-null      int8
 7   mmr                     9 non-null      float64
 8   sellingprice            9 non-null      float64
 9   transmission_automatic  9 non-null      bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 540.0+ bytes
Processed and saved: Resources/Fisker_model_car_prices.csv


Processing make: Ford
Info for Ford:
<class 'pandas.core.frame.DataFrame'>
Index: 68802 entries, 12 to 440392
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    68802 non-null  int64
 1   make                    68802 non-null  object
 2   body                    68802 non-null  int8
 3   transmission            68802 non-null  object
 4   odometer                68802 non-null  float64
 5   color                   68802 non-null  int8
 6   interior                68802 non-null  int8
 7   mmr                     68802 non-null  float64
 8   sellingprice            68802 non-null  float64
 9   transmission_automatic  68802 non-null  bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 3.9+ MB
Processed and saved: Resources/Ford_model_car_prices.csv


Processing make: GMC
Info for GMC:
<class 'pandas.core.frame.DataFrame'>
Index: 8794 entries, 1032 to 440344
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    8794 non-null   int64
 1   make                    8794 non-null   object
 2   body                    8794 non-null   int8
 3   transmission            8794 non-null   object
 4   odometer                8794 non-null   float64
 5   color                   8794 non-null   int8
 6   interior                8794 non-null   int8
 7   mmr                     8794 non-null   float64
 8   sellingprice            8794 non-null   float64
 9   transmission_automatic  8794 non-null   bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 515.3+ KB
Processed and saved: Resources/GMC_model_car_prices.csv


Processing make: Geo
Info for Geo:
<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 53506 to 384010
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    16 non-null     int64
 1   make                    16 non-null     object
 2   body                    16 non-null     int8
 3   transmission            16 non-null     object
 4   odometer                16 non-null     float64
 5   color                   16 non-null     int8
 6   interior                16 non-null     int8
 7   mmr                     16 non-null     float64
 8   sellingprice            16 non-null     float64
 9   transmission_automatic  16 non-null     bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 960.0+ bytes
Processed and saved: Resources/Geo_model_car_prices.csv


Processing make: HUMMER
Info for HUMMER:
<class 'pandas.core.frame.DataFrame'>
Index: 719 entries, 2704 to 440296
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    719 non-null    int64
 1   make                    719 non-null    object
 2   body                    719 non-null    int8
 3   transmission            719 non-null    object
 4   odometer                719 non-null    float64
 5   color                   719 non-null    int8
 6   interior                719 non-null    int8
 7   mmr                     719 non-null    float64
 8   sellingprice            719 non-null    float64
 9   transmission_automatic  719 non-null    bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 42.1+ KB
Processed and saved: Resources/HUMMER_model_car_prices.csv


Processing make: Honda
Info for Honda:
<class 'pandas.core.frame.DataFrame'>
Index: 23798 entries, 939 to 440373
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    23798 non-null  int64
 1   make                    23798 non-null  object
 2   body                    23798 non-null  int8
 3   transmission            23798 non-null  object
 4   odometer                23798 non-null  float64
 5   color                   23798 non-null  int8
 6   interior                23798 non-null  int8
 7   mmr                     23798 non-null  float64
 8   sellingprice            23798 non-null  float64
 9   transmission_automatic  23798 non-null  bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 1.4+ MB

Processed and saved: Resources/Honda_model_car_prices.csv


Processing make: Hyundai
Info for Hyundai:
<class 'pandas.core.frame.DataFrame'>
Index: 17614 entries, 54 to 440362
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    17614 non-null  int64
 1   make                    17614 non-null  object
 2   body                    17614 non-null  int8
 3   transmission            17614 non-null  object
 4   odometer                17614 non-null  float64
 5   color                   17614 non-null  int8
 6   interior                17614 non-null  int8
 7   mmr                     17614 non-null  float64
 8   sellingprice            17614 non-null  float64
 9   transmission_automatic  17614 non-null  bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 1.0+ MB
Processed and saved: Resources/Hyundai_model_car_prices.csv


Processing make: Infiniti
Info for Infiniti:
<class 'pandas.core.frame.DataFrame'>
Index: 12603 entries, 104 to 440301
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    12603 non-null  int64
 1   make                    12603 non-null  object
 2   body                    12603 non-null  int8
 3   transmission            12603 non-null  object
 4   odometer                12603 non-null  float64
 5   color                   12603 non-null  int8
 6   interior                12603 non-null  int8
 7   mmr                     12603 non-null  float64
 8   sellingprice            12603 non-null  float64
 9   transmission_automatic  12603 non-null  bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 738.5+ KB
Processed and saved: Resources/Infiniti_model_car_prices.csv


Processing make: Isuzu
Info for Isuzu:
<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 14869 to 437652
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    164 non-null    int64
 1   make                    164 non-null    object
 2   body                    164 non-null    int8
 3   transmission            164 non-null    object
 4   odometer                164 non-null    float64
 5   color                   164 non-null    int8
 6   interior                164 non-null    int8
 7   mmr                     164 non-null    float64
 8   sellingprice            164 non-null    float64
 9   transmission_automatic  164 non-null    bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 9.6+ KB
Processed and saved: Resources/Isuzu_model_car_prices.csv


Processing make: Jaguar
Info for Jaguar:
<class 'pandas.core.frame.DataFrame'>
Index: 1179 entries, 426 to 440060
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    1179 non-null   int64
 1   make                    1179 non-null   object
 2   body                    1179 non-null   int8
 3   transmission            1179 non-null   object
 4   odometer                1179 non-null   float64
 5   color                   1179 non-null   int8
 6   interior                1179 non-null   int8
 7   mmr                     1179 non-null   float64
 8   sellingprice            1179 non-null   float64
 9   transmission_automatic  1179 non-null   bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 69.1+ KB
Processed and saved: Resources/Jaguar_model_car_prices.csv


Processing make: Jeep
Info for Jeep:
<class 'pandas.core.frame.DataFrame'>
Index: 12132 entries, 322 to 440386
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    12132 non-null  int64
 1   make                    12132 non-null  object
 2   body                    12132 non-null  int8
 3   transmission            12132 non-null  object
 4   odometer                12132 non-null  float64
 5   color                   12132 non-null  int8
 6   interior                12132 non-null  int8
 7   mmr                     12132 non-null  float64
 8   sellingprice            12132 non-null  float64
 9   transmission_automatic  12132 non-null  bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 710.9+ KB
Processed and saved: Resources/Jeep_model_car_prices.csv


Processing make: Kia
Info for Kia:
<class 'pandas.core.frame.DataFrame'>
Index: 15098 entries, 0 to 440379
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    15098 non-null  int64
 1   make                    15098 non-null  object
 2   body                    15098 non-null  int8
 3   transmission            15098 non-null  object
 4   odometer                15098 non-null  float64
 5   color                   15098 non-null  int8
 6   interior                15098 non-null  int8
 7   mmr                     15098 non-null  float64
 8   sellingprice            15098 non-null  float64
 9   transmission_automatic  15098 non-null  bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 884.6+ KB
Processed and saved: Resources/Kia_model_car_prices.csv


Processing make: Lamborghini
Info for Lamborghini:
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 223405 to 325801
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    3 non-null      int64
 1   make                    3 non-null      object
 2   body                    3 non-null      int8
 3   transmission            3 non-null      object
 4   odometer                3 non-null      float64
 5   color                   3 non-null      int8
 6   interior                3 non-null      int8
 7   mmr                     3 non-null      float64
 8   sellingprice            3 non-null      float64
 9   transmission_automatic  3 non-null      bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 180.0+ bytes
Processed and saved: Resources/Lamborghini_model_car_prices.csv


Processing make: Land Rover
Info for Land Rover:
<class 'pandas.core.frame.DataFrame'>
Index: 1241 entries, 377 to 440328
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    1241 non-null   int64
 1   make                    1241 non-null   object
 2   body                    1241 non-null   int8
 3   transmission            1241 non-null   object
 4   odometer                1241 non-null   float64
 5   color                   1241 non-null   int8
 6   interior                1241 non-null   int8
 7   mmr                     1241 non-null   float64
 8   sellingprice            1241 non-null   float64
 9   transmission_automatic  1241 non-null   bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 72.7+ KB
Processed and saved: Resources/Land Rover_model_car_prices.csv


Processing make: Lexus
Info for Lexus:
<class 'pandas.core.frame.DataFrame'>
Index: 9744 entries, 47 to 440369
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    9744 non-null   int64
 1   make                    9744 non-null   object
 2   body                    9744 non-null   int8
 3   transmission            9744 non-null   object
 4   odometer                9744 non-null   float64
 5   color                   9744 non-null   int8
 6   interior                9744 non-null   int8
 7   mmr                     9744 non-null   float64
 8   sellingprice            9744 non-null   float64
 9   transmission_automatic  9744 non-null   bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 570.9+ KB
Processed and saved: Resources/Lexus_model_car_prices.csv


Processing make: Lincoln
Info for Lincoln:
<class 'pandas.core.frame.DataFrame'>
Index: 3983 entries, 422 to 440219
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    3983 non-null   int64
 1   make                    3983 non-null   object
 2   body                    3983 non-null   int8
 3   transmission            3983 non-null   object
 4   odometer                3983 non-null   float64
 5   color                   3983 non-null   int8
 6   interior                3983 non-null   int8
 7   mmr                     3983 non-null   float64
 8   sellingprice            3983 non-null   float64
 9   transmission_automatic  3983 non-null   bool
dtypes: bool(1), float64(3), int64(1), int8(3), object(2)
memory usage: 233.4+ KB
Processed and saved: Resources/Lincoln_model_car_prices.csv


Processing make: Lotus

ValueError: Found array with 0 sample(s) (shape=(0, 2)) while a minimum of 1 is required by StandardScaler.

In [ ]:

# # Assuming df is your DataFrame and you want to clean multiple columns
# columns = ['odometer', 'mmr']  # Replace with your actual column names

# # Calculate Z-scores of the values in the selected columns
# z_scores = np.abs(stats.zscore(df[columns]))

# # Set a threshold
# threshold = 3

# # Get boolean mask of rows without outliers in any of the specified columns
# without_outliers = (z_scores < threshold).all(axis=1)

# # Apply mask to DataFrame to exclude rows with outliers in any of the specified columns
df = df[without_outliers]

In [ ]:
# # # Create a scaler object
# scaler = StandardScaler()

# df_scaled = StandardScaler().fit_transform(df[['odometer','mmr']])
 
# df_scaled

In [ ]:
# transformed_df.hist(bins=60, figsize=(20,20))

In [ ]:
# # Look for null values
# print(df_model.isnull().sum())

In [ ]:
# df_model.info()

In [ ]:
# # Use Pandas .astype("category").cat.codes for single column category encoding
# columns_to_encode = ["body",
#                      "color",
#                      "interior"]

# # Copy car_data
# df_model_cat_codes = df_model.copy()

# # Loop through columns_to_encode and convert the columns to category codes
# for column in columns_to_encode:
#     df_model_cat_codes[column] = df_model_cat_codes[column].astype("category").cat.codes

# df_model_cat_codes.head()

In [ ]:
# df_model_cat_codes.dtypes

In [ ]:
# # Look for null values
# print(df_model_cat_codes.isnull().sum())

In [ ]:

# # Create a correlation matrix from the selected columns
# corr_matrix = df_model_cat_codes.corr()

# # Set the plot size, color, and font scale
# sns.set(font_scale=1)
# plt.figure(facecolor='gray', figsize=(10, 8))

# # Display the matrix without annotations
# sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
# plt.show()

In [ ]:
# # Assuming `df` is your DataFrame and you want to clean multiple columns
# columns = ['odometer', 'mmr']  # Replace with your actual column names

# # Calculate Z-scores of the values in the selected columns
# z_scores = np.abs(stats.zscore(df_model_cat_codes[columns]))

# # Set a threshold
# threshold = 3

# # Get boolean mask of rows without outliers in any of the specified columns
# without_outliers = (z_scores < threshold).all(axis=1)

# # Apply mask to DataFrame to exclude rows with outliers in any of the specified columns
# df_final = df_model_cat_codes[without_outliers]

In [ ]:
# # Create a correlation matrix from the selected columns
# corr_matrix = df_final.corr()

# # Set the plot size, color, and font scale
# sns.set(font_scale=1)
# plt.figure(facecolor='gray', figsize=(10, 8))

# # Display the matrix without annotations
# sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
# plt.show()

In [ ]:
# df_final.hist(bins=60, figsize=(20,20))

In [ ]:
# df_model_cat_codes.to_csv('Resources/model_car_prices.csv', index=False)